<div ng-controller="cuiButtonCtrl">

    <div class="cui-container border-grey vertical center">
        <div class="cui-header">
            Buttons
        </div>
        <!--  -->
        <div class="cui-container border-grey center">
            <div class="cui-subheader">
                regular buttons
            </div>
            <div class="cui-container horizontal">
                <button class="cui-button">
                    Standard
                </button>
            
                <button class="cui-button alt">
                    Standard alt
                </button>
            
                <button class="cui-button rounded">
                    Rounded
                </button>
            
                <button class="cui-button rounded alt">
                    Rounded alt
                </button>
            </div>
        </div>
    <!--  -->
        <div class="cui-container border-grey center">
            <div class="cui-subheader">
                icon buttons
            </div>
            <div class="cui-container vertical">
                <button class="cui-button icon">
                    <i class="far fa-comment-dots"></i>
                </button>
            
                <button class="cui-button icon alt">
                    <i class="far fa-comment-dots"></i>
                </button>
            
                <button class="cui-button icon clear red">
                    <i class="fa fa-times"></i>
                </button>
            
                <button class="cui-button icon clear green">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <!--  -->
    </div>

</div>