<div class="cuiInputsCtrl">

    <div class="cui-input">
        <input id="input1" type="text" required>
        <label for="input1">Casul UI Input</label>
    </div>

    <div class="cui-input rounded">
        <input id="input2" type="text" required>
        <label for="input2">Casul UI Input rounded</label>
    </div>

    <div class="cui-dropdown">
        <label for="select1">Casual UI Dropdown</label>
        <select name="" id="select1">
            <option value="value 1">value 1</option>
            <option value="value 2">value 2</option>
            <option value="value 3">value 3</option>
            <option value="value 4">value 4</option>
            <option value="value 5">value 5</option>
        </select>
    </div>

</div>