@import 'variables.scss';

button.cui-button {
    position: relative;
    margin: .5em;
    border: 1px solid transparent;
    outline: none;
    padding: .5em 1em;
    cursor: pointer;
    overflow: hidden;
    background: $primary-color;
    color: set-text-color($primary-color);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        clip-path: circle(0% at 50% 50%);
        opacity: 0;
    }

    &:focus:not(:active)::after {
        animation: pulse 0.7s ease-in-out 1;
    }

    &:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
    }

    &.rounded {
        border-radius: 4px;
    }

    &.alt {
        background: transparent;
        border: 1px solid $primary-color;
        color: set-text-color(white);
    }

    &.alt::After {
        background: rgba(0,0,0,0.15);
    }

    &.icon {
        border-radius: 100%;
        padding: .5em .55em;

        i {
            width: 16px;
            height: 16px;
        }
    }

    &.clear {
        background: transparent;
        border: 1px solid transparent;

        &::after {
            background: rgba(0,0,0,0.15);
        }

        &.red {
            color: red;
        }

        &.green {
            color: green;
        }

        &.blue {
            color: blue;
        }
    }

}

@keyframes pulse {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }
  40% {
    clip-path: circle(100% at 50% 50%);
    opacity: 1;
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    opacity: 0;
  }
}