@import 'variables.scss';

.cui-container {
    padding: .5em;
    margin: .5em;
    position: relative;

    &.text {
        margin: .05em 0.25em 0.4em 0.25em;
        padding: .05em 0.25em;
    }

    &.border-black {
        border: 1px solid #000000;
    }
    &.border-grey {
        border: 1px solid #CCCCCC;
    }
    &.border-white {
        border: 1px solid #FFFFFF;
    }

    &.vertical {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.left {
            align-items: flex-start;
        }
        &.right {
            align-items: flex-end;
        }
    }

    &.horizontal {
        display: flex;
        flex-direction: row;
        &.left {
            justify-content: flex-start;
        }
        
        &.center {
            justify-content:center;
        }
    
        &.right {
            justify-content: flex-end;
        }
    }

}