@import 'variables.scss';

.cui-input {
    position: relative;
    margin: .5em;

    &.rounded {
        input {
            border-radius: 4px;
        }
    }

    input {
        padding:.5em 1em;
        outline: none;
        border: 1px solid #c5c5c5;
    }

    label {
        position: absolute;
        top: calc(50% - 10px);
        left: 10px;
        border-radius: 4px;
        transition: 250ms;
        pointer-events: none;
    }

    input {
        &:focus ~ label,
        &:valid ~ label {
            top: calc(0% - 6px);
            font-size: 0.75em;
            color: #999999;
            padding: 2px;
            background: #FFFFFF;
        }
    }
}

.cui-dropdown {
    position: relative;
    margin: .5em;

    select {
        padding: .5em;
        cursor: pointer;
        border: 1px solid #c5c5c5;
    }

    label {
        padding: calc(.5em + 1px);
        border: 1px solid #c5c5c5;
        background: #ffffff;
        margin-right: -6px;
    }
}